/* Комбинированный селектор - применяется ко всем элементам */
header,footer,aside,body,.navbar,.video-container{
    font-family: "Helvetica 65 Medium", sans-serif;
}

header,footer,body,.video-container{
    background-color: linen;
}

/* Компоненты iframe со встроенным видео */
.video-container{
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-container,.review-button{
    display: inline-block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}

.review-text{
    display: block;
    margin-top: 0.5em;
    padding-left: 1%;
    padding-top: 1%;
}


/* Стили панели навигации */
.navbar p{
    color: darkgray;
    padding-left: 15%;
}

/* Стили панели навигации при наведении мышью */
.navbar p:hover{
    color: aliceblue;
}

/* Глобальные стили для хедеров на всём сайте */
header{
    color: black;
    padding-left: 1%;
    padding-top: 1.2%;
}
/* Стиль хедера для главной страницы имеет приоритет, 
так как используется селектор по идентификатору */
#header-index{
    color: #44453f;
}

/* Стили футера */
footer {
    position: relative;
    bottom: 0;
    font-size: medium;
    color: dimgrey;
    line-height: 66%;
    padding-left: 1%;
    padding-bottom: 1%;
    margin-top: auto;
}

aside{
    min-height: 100vh; /* Высота в полный размер. Этот параметр можно убрать, если вы хотите выставлять высоту автоматически */
    width: 10%;
    min-width: 200px;
    z-index: 1;
    position: absolute; /* Фиксированная позиция сайд-бара. Так он будет оставаться на месте при скроллинге */
    top: 0; /* Сайдбар будет в самой верхней части страницы */
    left: 0;
    background-color: #111; /* Черный цвет фона (задан в виде кода) */
    overflow-x: hidden; /* Отключаем горизонтальную прокрутку */
    padding-top: 2%;
    font-size: large;
}

body{
    padding-left: 250px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

input {
    border: 2px solid darkgrey;
    border-radius: 2px;
    outline: none;
}

input:focus {
    border: 2px solid dimgrey;
}

/* Стили для слайдера */
* {
    /*     box-sizing: border-box; */
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    display: block;
    position: relative;
    width: 100%;
    max-width: 900px;
    margin: 10px;
    background-color: white;
    overflow: hidden;
}

.slider__slides {
    width: 100%;
    padding-top: 66%;
}

.slider__slide {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: lemonchiffon;
    transition: 1s;
    opacity: 0;
}

    .slider__slide.active {
        opacity: 1;
    }

    .slider__slide img {
        width: 100%;
    }

.slider__nav-button {
    position: absolute;
    height: 70px;
    width: 70px;
    background-color: #333;
    opacity: .8;
    cursor: pointer;
}

#nav-button--prev {
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

#nav-button--next {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

    #nav-button--prev::after,
    #nav-button--next::after {
        content: "";
        position: absolute;
        border: solid white;
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 3px;
        width: 40%;
        height: 40%;
    }

    #nav-button--next::after {
        top: 50%;
        right: 50%;
        transform: translate(25%, -50%) rotate(-45deg);
    }

#nav-button--prev::after {
    top: 50%;
    right: 50%;
    transform: translate(75%, -50%) rotate(135deg);
}

.slider__nav {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.slider__navlink {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px #fff solid;
    background-color: #333;
    opacity: 1;
    margin: 0 10px 0 10px;
    cursor: pointer;
}

    .slider__navlink.active {
        background-color: #fff;
        border: 1px #333 solid;
    }


@media screen and (max-width: 640px) {
    .slider__nav-button {
        height: 40px;
        width: 40px;
    }

    .slider__navlink {
        height: 12px;
        width: 12px;
    }
}